/* App.css */

/* Light Mode Styles */
.light-mode {
  /* Define your light mode styles here */
  background-color: white;
  color: black;
}

/* Dark Mode Styles */
.dark-mode {
  /* Define your dark mode styles here */
  background-color: #000000;
  color: white;
}

.topbar button {
  background-color: transparent; /* Set background to transparent */
  border: none; /* Remove button border if needed */
}
body {
  background-color: black;
  overflow-x: hidden;
  width: 100vw;
  margin: auto;
  color: white;
}
.Home {
  height: 80vh;
}
#hometext {
  padding: 12% 0% 0% 10%;
}
.card {
  background-color: rgb(40, 40, 40);
  color: white;
  text-align: start;
}

span {
  color: brown;
}

.component {
  text-align: center;
  min-height: 80vh;
  margin: auto;
}
/* .row {
  padding-top: 5vh;
  display: inline-grid;
  grid-template-columns: 15vw 15vw 15vw 15vw 15vw;
} */
.griditem {
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 2px;
  margin: 5vh 5vw 5vh 5vw;
  text-align: center;
}

/*

.h1{
  padding: 3vh;
}
nav{
  display: flex;
  width: 100%;
  background-color: #4e5053;
  padding: 1%;
  position: fixed;
}
nav div{
  width: 50%;
}



.contactbtn{
  text-align: right;
  padding-right: 3%;
}
.nav{
    background-color:rgb(18, 18, 18);
    margin: 5% 2% 2% 2%;
    border-radius: 5%;
    position:fixed;
    height: 100%;
    width: 15%;
    padding:3vh;
  }

.nav div{
    height:10vh;
    margin: auto;
    text-align: center;
    width: 100%;
    color:rgb(238, 235, 229);

  }*/

@media screen and (max-width: 00px) {
  .Home {
    padding: 40% 0% 50% 10%;
    height: 30vh;
  }
}
